body{
    font-family: 'Poppins', sans-serif;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: #F79777;
}
.balance{
    background-color: orange;
}
#transaction-area{
    display: none;
}
.warning{
    text-align: center;
}
#warningAlert{
    margin: 3rem auto;
    background-color: orangered;
    display: none;
    padding:.5rem 1rem;
    color: #ffffff;
    border-radius: 20px;
    position: fixed;
    top: 65vh;
    left: 0;
    right: 0;
    width: fit-content;
    box-shadow: 0px 5px 20px rgba(34, 36, 34, 0.5);
}